@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	@apply border-b-2 border-gray-800 hover:bg-gray-200 mx-1 text-sm;
}

a.github {
	@apply inline-flex justify-center px-4 py-2 items-center space-x-2 text-xl border border-gray-800 rounded hover:bg-zinc-200;
}
